<div [formGroup]="form" class="flex flex-col bg-violet-50 p-5 border-violet-200 border-2 rounded-md">
  <div class="mb-2">
    <ng-container *ngIf="isNew; else updateText">
      <b>{{ 'WEATHER.API_KEY_MODAL.OOOPS' | translate }}</b><br>
      {{ 'WEATHER.API_KEY_MODAL.NO_API_KEY' | translate }}<br>
      {{ 'WEATHER.API_KEY_MODAL.NO_PROBLEM' | translate }}
    </ng-container>

    <ng-template #updateText>
      {{ 'WEATHER.API_KEY_MODAL.UPDATE_API_KEY' | translate }}
    </ng-template>
  </div>

  <mat-form-field class="w-full">
    <input matInput formControlName="apiKey" [placeholder]="'WEATHER.API_KEY_MODAL.API_KEY' | translate">

    <mat-error *ngIf="isEmpty">
      {{ 'WEATHER.API_KEY_MODAL.API_KEY_EMPTY' | translate }}
    </mat-error>

    <mat-error *ngIf="isInvalid">
      {{ 'WEATHER.API_KEY_MODAL.API_KEY_NOT_VALID' | translate }}
    </mat-error>
  </mat-form-field>

  <button class="mt-2 whitespace-nowrap text-white bg-violet-500 hover:bg-violet-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2"
          [disabled]="!(form.controls['apiKey'].valid && !form.controls['apiKey'].pristine)"
          (click)="addKey()">
    {{ isNew ? 'WEATHER.API_KEY_MODAL.ADD_API_KEY' : 'WEATHER.API_KEY_MODAL.UPDATE' | translate }}
  </button>
</div>
