@tailwind base;
@tailwind components;
@tailwind utilities;

@import './src/app/sccs-utils/material-overrides.scss';

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h4 {
  margin: 0 !important;
}

